@{
    ViewBag.Title = "Gestion Chantier";
}
<div class="navTop text-center">
    <h1>Gestion de chantier</h1>
</div>
<div class="row">
    <div class="col-sm-1">
    </div>

    <div class="col-sm-4 text-center @ViewBag.InfoProjet">
        <a href="@ViewBag.InfoProjetURL">
            <img alt='Outils' src='~/Images/InfoProjet.png'><br>
            <h2>
                Informations<br>Projets
            </h2>
        </a>
    </div>

    <div class="col-sm-2">
    </div>

    <div class="col-sm-4 text-center @ViewBag.Punch">
        <a href="@ViewBag.PunchURL">
            <img alt='Outils' src='~/Images/kworldclock.png'><br>
            <h2>
                Employé<br>Projets
            </h2>
        </a>
    </div>

    <div class="col-sm-1">
    </div>
</div>

<div class="row">
    <div class="col-sm-1">
    </div>

    <div class="col-sm-4 text-center">
        <a href="/AST/Index">
            <img alt='AST' src='~/Images/AST.png'><br>
            <h2>
                AST
            </h2>
        </a>
    </div>

    <div class="col-sm-2">
    </div>

    <div class="col-sm-4 text-center">
        <!--<a href="/Home/RedirectToPricer">-->
        <img alt='Pricer' src='~/Images/GuiLuWest128.png'><br>
        <h2>
            Pricer
        </h2>
        <!--</a>-->
    </div>

    <div class="col-sm-1">
    </div>
</div>
