
<div class="col-12">
    <label><b>Inactivité du projet sélectionné</b></label>
    <br>
    <label>Date de début d'inactivité</label>
    <input class="form-control dateInactivite" type="date" id="datedebutinactivite" />
    <label>Date de fin d'inactivité</label>
    <input class="form-control dateInactivite" type="date" id="datefininactivite" />
    </br>
</div>