<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="PricerURL" value="https://localhost:44333/Products/Grid" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PricerOutilsURL" value="https://localhost:44333/Produits/Grid" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PunchURL" value="https://localhost:44367/Punch/EmployerList.asp" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="InfoProjetURL" value="https://localhost:44367/InfoProjet/ListeAction.asp" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AuthentificateurURL" value="https://192.168.100.9:8099" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="GestionChantierURL" value="https://localhost:44314/Home/Index" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <!--
    Dans l'exemple ci-dessous, la transformation "SetAttributes" changera la valeur de 
 "connectionString" afin d'utiliser "ReleaseSQLServer" uniquement lorsque le localisateur "Match" 
 trouve un attribut "name" qui a une valeur "MyDB" .
 
 <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      Dans l'exemple ci-dessous, la transformation « Replace » remplacera toute la
      <customErrors> section de votre fichier Web.config.
      Dans la mesure où il n'y a qu'une section customErrors sous le
      <system.web> nœud, il n'est pas nécessaire d'utiliser l'attribut « xdt:Locator ».

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
